/* Google Fonts */

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700;900&family=Source+Serif+Pro:wght@400;600;700;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    line-height: 2;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    @apply font-heading
}

p {
    @apply text-gray-800 font-body text-lg
}

a {
    @apply text-gray-800 font-body 
}

li {
    @apply font-body text-lg
}

.nav-a {
    @apply mr-8 text-xl hover:text-orange-600
}

.title {
    background-image: url("./pics/background.PNG");
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
}

.flag {
    @apply mx-4 my-3 cursor-pointer hover:-translate-x-1 hover:-translate-y-1 lg:w-16
}

.description-step {
    @apply font-bold text-lg
}

.step-paragraph {
    @apply mb-8 md:mr-20 lg:mr-80
}

.about-a {
    @apply inline-block col-span-1 hover:border-b-2 hover:border-orange-600 mb-2
}

.register-button {
    @apply mt-10 bg-orange-600 text-white rounded-2xl text-xl px-7 py-2 mb-5
}