@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    line-height: 2;
}

p {
    @apply text-gray-800
}

.nav-list {
    @apply hover:-translate-x-1 hover:-translate-y-1 transition ease-out duration-200
}

.nav-a {
    @apply mr-8 text-orange-600 text-xl
}

.title {
    background-image: url("./pics/back.PNG");
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
}

.flag {
    @apply mx-4 my-3 cursor-pointer hover:-translate-x-1 hover:-translate-y-1 lg:w-16
}

.description-step {
    @apply font-bold text-lg
}

.step-paragraph {
    @apply mb-8 md:mr-20 lg:mr-80
}